*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    padding-top: 16px;
    padding-bottom: 16px;
    height: 72px;
    border-bottom: 1px solid black;
}
.container {
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: rgb(48, 48, 48);
}
#logo {
    color: black;
    font-size: 24px;
    text-decoration: none;
} 
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}      
#logo,
h1,
h2,
h3,
h4,h5,
h6 {
    font-family: "Playfair Display", serif;
}
body{
    font-family: "Lato", sans-serif;
}
.iconlink {
    color: black;
    text-decoration: none;
}
.iconlinks{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}
#section1{
    background-color: rgb(221, 221, 221);
    padding-top: 6rem;
    padding-bottom: 6rem;    
}
#section1 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section1 p{
    width: 560px;
    text-align: center;
}
h1, .h1{
    font-size: 3.815rem;
    margin-bottom: 1.5rem;
}
h2, .h2{font-size: 3.052rem;}
h3, .h3{font-size: 2.441rem;}
h4, .h4{font-size: 1.953rem;}
h5, .h5{font-size: 1.563rem;}
h6, .h6{font-size: 1.25rem;}

p{
    font-size: 1rem;
    line-height: 160%; 
    color: rgb(58, 58, 58); 
}
.small{font-size: 0.8rem;}

.buttonprimary{
     background-color: black;
    color: white;
   }
.buttonsecondary{
    color: black;
    border: 1px solid black;
}
.button {
    border-radius: 0.25rem;
    display: inline-block;
    text-decoration: none;
    padding: 0.7rem 1.5rem;
}
.buttonholder{
    margin-top: 2rem;
}
.categorylist{
    list-style: none;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}
.category img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;

}
.category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#section2{
    padding-top: 6rem;
    padding-bottom: 6rem;
    }
